@page "/Cliente/Create"
@inject ClienteService clienteService
@inject NavigationManager navigationManager
@inject ToastService toastService
@rendermode InteractiveServer

<PageTitle>Registrar Cliente</PageTitle>

<EditForm Model="cliente" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="container-fluid vh-95 d-flex justify-content-center align-items-center">
        <div class="card shadow-lg" style="width: 1400px; min-height: 600px;">
            <div class="card-header">
                <h3 class="card-title text-center">Registrar Cliente</h3>
            </div>

            <div class="card-body">

                <div class="mb-3">
                    <label for="clienteId" class="form-label"<strong>ClienteId:</strong></label>
                    <InputNumber id="clienteId" class="form-control" readonly @bind-Value="cliente.ClienteId" />
                    <ValidationMessage For="@(() => cliente.ClienteId)" />
                </div>

                <div class="mb-3">
                    <label for="cedula" class="form-label"<strong>C&eacute;dula:</strong></label>
                    <InputText id="cedula" class="form-control" @bind-Value="cliente.Cedula" />
                    <ValidationMessage For="@(() => cliente.Cedula)" />
                </div>

                <div class="mb-3">
                    <label for="nombres" class="form-label"<strong>Nombres:</strong></label>
                    <InputText id="nombres" class="form-control" @bind-Value="cliente.Nombres" />
                    <ValidationMessage For="@(() => cliente.Nombres)" />
                </div>

                <div class="mb-3">
                    <label for="apellidos" class="form-label"<strong>Apellidos:</strong></label>
                    <InputText id="apellidos" class="form-control" @bind-Value="cliente.Apellidos" />
                    <ValidationMessage For="@(() => cliente.Apellidos)" />
                </div>

                <div class="mb-3">
                    <label for="direccion" class="form-label"<strong>Direcci&oacute;n:</strong></label>
                    <InputText id="direccion" class="form-control" @bind-Value="cliente.Direccion" />
                    <ValidationMessage For="@(() => cliente.Direccion)" />
                </div>

                <div class="mb-3">
                    <label for="telefono" class="form-label"<strong>Tel&eacute;fono:</strong></label>
                    <InputText id="telefono" class="form-control" @bind-Value="cliente.Telefono" />
                    <ValidationMessage For="@(() => cliente.Telefono)" />
                </div>

                <div class="mb-3">
                    <label for="ciudad" class="form-label"<strong>Ciudad:</strong></label>
                    <InputText id="ciudad" class="form-control" @bind-Value="cliente.Ciudad" />
                    <ValidationMessage For="@(() => cliente.Ciudad)" />
                </div>
            </div>

            <div class="card-footer text-center">
                <button type="button" class="btn btn-outline-primary ml-2" @onclick="Nuevo">
                    <span class="bi bi-plus"></span> Nuevo
                </button>
                <button type="submit" class="btn btn-outline-success ml-2">
                    <span class="bi bi-check-circle-fill"></span> Guardar
                </button>
                <button type="button" class="btn btn-outline-danger" @onclick="Retroceder">
                    <span class="bi bi-arrow-bar-left"></span> Retroceder
                </button>
            </div>
        </div>
    </div>
</EditForm>

<Toasts class="p-3" Messages="Mensaje" AutoHide="true" StackLength="3" Placement="ToastsPlacement.TopRight" />

@code {
    [Parameter]
    public int ClienteId { get; set; }
    public Clientes cliente = new Clientes();
    public List<Clientes> listacliente = new List<Clientes>();
    List<ToastMessage> Mensaje = new List<ToastMessage>();
    private bool existe = false;

    public async Task Nuevo()
    {
        existe = false;
        cliente = new Clientes();
    }

    public async Task<bool> Validar()
    {
        // Validar si existe otro cliente con el mismo ClienteId, cédula o teléfono
        var existeId = await clienteService.Existe(cliente.ClienteId);
        var existeCedula = await clienteService.ExisteCedula(cliente.Cedula);
        var existeTelefono = await clienteService.ExisteTelefono(cliente.Telefono);

        if (existeId)
        {
            toastService.Notify(new(ToastType.Success, iconName: IconName.None,
            title: "Error", helpText: "", message: "Ya existe un cliente con este Id."));
            return false;
        }

        if (existeCedula)
        {
            toastService.Notify(new(ToastType.Success, iconName: IconName.None,
            title: "Error", helpText: "", message: "Ya existe un cliente con esta cédula."));
            return false;
        }

        if (existeTelefono)
        {
            toastService.Notify(new(ToastType.Success, iconName: IconName.None,
            title: "Error", helpText: "", message: "Ya existe un cliente con este número de teléfono."));
            return false;
        }

        return true; // Si ninguna validación falló, entonces el cliente es válido
    }

    public async Task Buscar()
    {
        existe = false;
        var encontrado = await clienteService.Buscar(cliente.ClienteId);
        if (encontrado != null)
        {
            cliente = encontrado;
        }
        else
        {
            Nuevo();
        }
    }

    public async Task Guardar()
    {
        // Verifica si la validación es correcta
        if (!await Validar())
        {
            Console.WriteLine("Validación fallida");

            // Si la validación falla, muestra una notificación de error
            toastService.Notify(new ToastMessage(
                ToastType.Danger, // Cambié a "Danger" ya que es más adecuado para validación fallida
                iconName: IconName.None,
                title: "Error de Validación", // Cambié el título para reflejar mejor el tipo de notificación
                helpText: "",
                message: "Ya existe un cliente con ese Id.")); // Mensaje de error
            return; // Sale de la función si la validación falla
        }

        // Llama al servicio para guardar el cliente
        var guardado = await clienteService.Guardar(cliente);

        // Verifica si el cliente se guardó correctamente
        if (guardado)
        {
            // Si se guarda exitosamente, muestra una notificación de éxito
            toastService.Notify(new ToastMessage(
                ToastType.Success,
                iconName: IconName.None,
                title: "Guardado",
                helpText: "",
                message: "El cliente se ha guardado correctamente.")); // Mensaje de éxito
            await Task.Delay(3000); // Espera 3 segundos antes de continuar
            await Retroceder(); // Realiza la acción posterior, por ejemplo, navegar a otra pantalla
        }
        else
        {
            // Si no se guarda, muestra una notificación de error
            toastService.Notify(new ToastMessage(
                ToastType.Danger,
                iconName: IconName.None,
                title: "Error",
                helpText: "",
                message: "Ocurrió un error al guardar el cliente.")); // Mensaje de error
        }
    }

    public async Task Retroceder()
    {
        navigationManager.NavigateTo("/Cliente/Index");
    }

    private void ShowToast(ToastType type)
    {
        string title = type switch
        {
            ToastType.Success => "¡Éxito!",
            ToastType.Warning => "Advertencia",
            ToastType.Danger => "Error",
            _ => "Información"
        };

        string message = type switch
        {
            ToastType.Success => "El Cliente se guardó correctamente.",
            ToastType.Warning => "Complete todos los campos antes de guardar.",
            ToastType.Danger => "Hubo un error al guardar el Cliente.",
            _ => "Información general."
        };

        Mensaje.Add(new ToastMessage { Type = type, Title = title, Message = message });
        StateHasChanged();
    }
}