@page "/Cobro/Create"
@using System.Diagnostics
@inject ClienteService clienteService
@inject PrestamoService prestamoService
@inject CobroService cobroService
@inject NavigationManager navigationManager
@inject ToastService toastService
@rendermode InteractiveServer

<PageTitle>Registrar Cobro</PageTitle>

<EditForm Model="cobro" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container-fluid vh-95 d-flex justify-content-center align-items-center">
        <div class="card shadow-lg" style="width: 1400px; min-height: 600px; border-radius: 15px;">

            <div class="card-header" style="display: flex; justify-content: space-between; align-items: center; background-color: #f1f1f1;">
                <div style="flex: 1; text-align: center;">
                    <h3 class="card-title">Registrar Cobro</h3>
                </div>
                <button type="button" class="btn btn-primary" style="border-radius: 5px;" @onclick="RedirigirABusquedaCliente">
                    <span class="bi bi-person-fill-check"></span> Buscar Deudor
                </button>
            </div>

            <div class="card-body" style="background-color: #f9f9f9;">
                @* Información del Cliente Seleccionado *@
                <div class="mb-4">
                    <h5 class="text-primary">Información del Cliente Seleccionado</h5>
                    @if (cliente != null)
                    {
                        <div class="card mb-3" style="border-radius: 10px; background-color: #e7f0ff;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><strong>Nombre:</strong></label>
                                        <span>@cliente.Nombres @cliente.Apellidos</span>
                                    </div>
                                    <div class="col-md-6">
                                        <label><strong>Cédula:</strong></label>
                                        <span>@cliente.Cedula</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info">
                            <strong>Nota:</strong> Selecciona un cliente para asociarlo al cobro.
                        </div>
                    }
                </div>

                @* Selección de Préstamo y Detalles del Cobro *@
                <h5 class="text-primary">Detalles del Cobro</h5>

                <div class="mb-3">
                    <div class="row">
                        <label for="prestamoId" class="form-label"<strong>Pr&eacute;stamo:</strong></label>
                        <InputSelect id="prestamoId" class="form-control" @bind-Value="cobro.PrestamoId">
                            <option value="">Selecciona un préstamo</option>
                            @foreach (var prestamo in prestamos)
                            {
                                <option value="@prestamo.PrestamosId">Préstamo ID: @prestamo.PrestamosId - Monto: @prestamo.Saldo</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => cobro.PrestamoId)" />
                    </div>
                </div>

                <div class="mb-3">
                    <label for="FechaCobro" class="form-label"<strong>Fecha Cobro:</strong></label>
                    <InputDate id="importePagar" class="form-control" @bind-Value="cobro.FechaCobro" />
                    <ValidationMessage For="@(() => cobro.ImportePagar)" />
                </div>

                <div class="mb-3">
                    <label for="importePagar" class="form-label"<strong>Importe a Pagar:</strong></label>
                    <InputNumber id="importePagar" class="form-control" @bind-Value="cobro.ImportePagar" />
                    <ValidationMessage For="@(() => cobro.ImportePagar)" />
                </div>

                <div class="mb-3">
                    <label for="mora" class="form-label"<strong>Mora(opcional):</strong></label>
                    <InputNumber id="mora" class="form-control" @bind-Value="cobro.Mora" />
                </div>
            </div>

            <!-- Botones de acciones -->
            <div class="card-footer text-center" style="background-color: #f1f1f1;">
                <button type="button" class="btn btn-outline-primary" @onclick="Nuevo">
                    <span class="bi bi-plus-circle"></span> Nuevo
                </button>
                <button type="submit" class="btn btn-outline-success">
                    <span class="bi bi-check-circle-fill"></span> Guardar
                </button>
                <button type="button" class="btn btn-outline-danger" @onclick="Retroceder">
                    <span class="bi bi-arrow-bar-left"></span> Retroceder
                </button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private Clientes cliente;
    public Cobros cobro = new Cobros();
    private List<Prestamos> prestamos = new List<Prestamos>();

    protected override async Task OnInitializedAsync()
    {
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        if (query.TryGetValue("clienteId", out var clienteId))
        {
            cliente = await clienteService.Buscar(int.Parse(clienteId));
            cobro.ClienteId = cliente.ClienteId;

            // Cargar los préstamos asociados al cliente seleccionado
            prestamos = await prestamoService.ObtenerPrestamosPorCliente(cliente.ClienteId);
        }
    }

    private async Task RedirigirABusquedaCliente()
    {
        navigationManager.NavigateTo("/Cobros/SeleccionarCliente");
    }

    public async Task Nuevo()
    {
        cobro = new Cobros();
        cliente = null;
    }

    private async Task Retroceder()
    {
        navigationManager.NavigateTo("/menu");
    }
    private async Task Guardar()
    {
        if (cliente == null || cobro.PrestamoId == 0)
        {
            toastService.Notify(new(ToastType.Warning,
                iconName: IconName.None,
                title: "Error",
                message: "Por favor, selecciona un deudor y un préstamo antes de guardar el cobro."));
            return;
        }

        try
        {
            // Obtener el préstamo seleccionado para actualizar su saldo y fecha de pago
            var prestamo = await prestamoService.ObtenerPrestamoPorId(cobro.PrestamoId);
            if (prestamo != null)
            {
                // Restar el importe pagado al saldo del préstamo
                prestamo.Saldo -= cobro.ImportePagar;
                if (prestamo.Saldo < 0) prestamo.Saldo = 0;

                // Si el préstamo tiene cuotas definidas, actualizamos el saldo de la cuota restante
                if (prestamo.Cuotas.HasValue)
                {
                    // Aseguramos que cuotaRestante sea un número entero de cuotas restantes
                    int cuotaRestante = prestamo.Cuotas.Value - 1; // Restamos una cuota por cada pago realizado

                    // Comprobamos que cuotaRestante no sea negativo
                    cuotaRestante = cuotaRestante < 0 ? 0 : cuotaRestante;

                    // Asignamos el valor actualizado de cuotas restantes
                    prestamo.Cuotas = cuotaRestante;
                }

                // Verificar y actualizar la fecha de próximo pago en función de la forma de pago
                if (prestamo.FechaInicio.HasValue)
                {
                    switch (prestamo.FormaPago)
                    {
                        case "Quincenal":
                            prestamo.FechaInicio = prestamo.FechaInicio.Value.AddDays(15); // Cada 15 días
                            break;
                        case "Semanal":
                            prestamo.FechaInicio = prestamo.FechaInicio.Value.AddDays(7); // Cada 7 días
                            break;
                        default:
                            throw new InvalidOperationException("Forma de pago no soportada");

                     
                    }
                }
                else
                {
                    // Si no hay fecha inicial, se establece la actual
                    prestamo.FechaInicio = DateTime.Now;
                }

                // Guardar los cambios en el préstamo actualizado
                await prestamoService.ActualizarPrestamo(prestamo);
            }

            // Guardar el cobro realizado
            await cobroService.GuardarCobro(cobro);

            // Notificación de éxito
            toastService.Notify(new(ToastType.Success,
                iconName: IconName.None,
                title: "Guardado Exitoso",
                message: "El cobro se ha guardado correctamente y el saldo y la fecha de pago del préstamo han sido actualizados."));

            // Actualizar la lista de préstamos en el índice
            await prestamoService.ActualizarPrestamosDespuesCobro();
            Retroceder();
        }
        catch (Exception ex)
        {
            toastService.Notify(new(ToastType.Success,
                iconName: IconName.None,
                title: "Error",
                message: $"Hubo un error al guardar el cobro: {ex.Message}"));
        }
    }

    public async Task ActualizarListaPrestamos()
    {
        prestamos = await prestamoService.ListarPrestamosConClientes();
        StateHasChanged();
    }
}