@page "/Prestamo/Index"
@inject ClienteService clienteService
@inject PrestamoService prestamoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Consulta de Préstamos</PageTitle>
<div class="container-fluid vh-100 d-flex flex-column justify-content-center">
    <div class="card shadow-lg w-100 h-100">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title text-center w-100">Consulta de Préstamos</h3>
            <div class="mt-4">
                <a href="/Prestamo/Create" class="btn btn-primary d-flex align-items-center">
                    <span class="bi bi-plus-square"></span> Crear
                </a>
            </div>
        </div>

        <div class="card-body overflow-auto">
            <table class="table table-hover table-striped text-center">
                <thead class="table-white">
                    <tr>
                        <th>Préstamo ID</th>
                        <th>Cliente</th>
                        <th>Monto Prestado</th>
                        <th>Interés</th>
                        <th>Cuotas</th>
                        <th>Forma de Pago</th>
                        <th>Fecha Prestamo</th>
                        <th>Fecha Pago</th>
                        <th>MontoCuota</th>
                        <th>Total Interes</th>
                        <th>MontoTotalPagar</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prestamo in listaPrestamos)
                    {
                        <tr>
                            <td>@prestamo.PrestamosId</td>
                            <td>@prestamo.Cliente.Nombres @prestamo.Cliente.Apellidos</td>
                            <td>@prestamo.MontoPrestado</td>
                            <td>@prestamo.Interes %</td>
                            <td>@prestamo.Cuotas</td>
                            <td>@prestamo.FormaPago</td>
                            <td>@prestamo.Fecha?.ToString("dd/MM/yyyy")</td>
                            <td>@prestamo.FechaInicio.ToString("dd/MM/yyyy")</td>
                            <td>@prestamo.MontoCuota</td>
                            <td>@prestamo.TotalInteres</td>
                            <td>@prestamo.MontoTotalPagar</td>
                               <td>
                                <a href="/Prestamo/Details/@prestamo.PrestamosId" class="btn btn-sm btn-outline-info">
                                    <span class="bi bi-eye"></span>
                                </a>
                            </td>
                            <td>
                                <a href="/Prestamo/Edit/@prestamo.PrestamosId" class="btn btn-sm btn-outline-warning">
                                    <span class="bi bi-pencil-square"></span>
                                </a>
                            </td>
                            <td>
                                <a href="/Prestamo/Delete/@prestamo.PrestamosId" class="btn btn-sm btn-outline-danger">
                                    <span class="bi bi-trash"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    public List<Prestamos> listaPrestamos = new List<Prestamos>();

    protected override async Task OnInitializedAsync()
    {
        listaPrestamos = await prestamoService.ListarPrestamosConClientes();
    }
}
